{% extends "base_map.html" %}


{% block head %}
    <link rel="stylesheet" type="text/css" href="/css/webflow_base.css">
    <link rel="stylesheet" type="text/css" href="/css/page-defaults.css">

    <style>
        #new-users td, th {
            border: 1px solid black;
            text-align: left;
            padding: 10px;


        }

        #new-users tr:nth-child(even) {
            background-color: #A7A9AB;
            color: #f1f1f2;

        }
    </style>

{% endblock %}

{% block body %}

    <div id="container" class="container">
        <div id="top-spacer">&nbsp;</div>

        <div class="row">
            <div class="col-md-8">
                <div class="twothirds_div">
                    <h1>Community</h1>
                    <table id="new-users">
                        <th>Display Name</th>
                        <th>Tier</th>
                        <th>Point Balance</th>
                        {% for user in table_data %}
                        <tr>
                            <td>{{ user.display_name }}</td>
                            <td>{{ user.tier }}</td>
                            <td>{{ user.point_balance.__trunc__() }}</td>
                        </tr>
                        {% endfor %}
                    </table>

                </div>
            </div>
        </div>

    </div>

{% endblock %}
